<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Catways</title>
</head>

<body>

    <h1>Liste des Catways</h1>

    <a href="/dashboard">Retour Dashboard</a>
    <br><br>

    <a href="/catways/view/create"> Ajouter un Catway</a>

    <hr>

    <ul>

        <% catways.forEach(catway=> { %>
            <li>
                Catway <%= catway.catwayNumber %>
                    -
                    <%= catway.catwayType %>
                        -
                        <%= catway.catwayState %>

                            <a href="/catways/view/details/<%= catway._id %>"> Voir</a>
            </li>

            <% }) %>

    </ul>

</body>

</html>