<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Port Russell</title>
</head>

<body>

    <h1>Port Russell</h1>

    <p>
        Application de gestion des réservations de catways du port de plaisance Russell.
    </p>

    <h2>Connexion</h2>

    <form action="/login" method="POST">

        <label>Email :</label>
        <input type="email" name="email" required>

        <br><br>

        <label>Mot de passe :</label>
        <input type="password" name="password" required>

        <br><br>

        <button type="submit">
            Se connecter
        </button>

    </form>

    <br>

    <a href="/doc/api.md">
        Documentation API
    </a>

</body>

</html>